body {
  /* background-image: url('https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_960_720.jpg');
  background-size: cover;
  background-position: center;
  height: 800px; */
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  font-weight: 700px;
}
.container {
  background-image: linear-gradient(to bottom right, rgb(102, 204, 248), rgba(0, 17, 255, 0.918));
  height: 400px;
  width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  gap: 10px;
  box-shadow: 0px 5px 20px 0px rgba(7, 220, 220),
  1px 3px 20px 0px rgba(7, 220, 220);
}
video#bgVideo {
  position: absolute;
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
  z-index: -1; 
}
